*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 90px 250px 1fr;
    grid-template-areas: "header header"
               "aside section"
               "figure figure";
}
#div1{
    grid-area: header;
    background-color: bisque;
}
#div2{
    grid-area: aside;
    background-color: brown;
}
#div3{
    grid-area: section;
    background-color: cadetblue;
}
#div4{
    grid-area: figure;
    background-color: saddlebrown;
}