*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "div1 div2 div3"
                         "div1 div4 div5"
                         "div6 div6 div5";
}
#div1{
    grid-area: div1;
    background-color: bisque;
}
#div2{
    grid-area: div2;
    background-color: brown;
}
#div3{
    grid-area: div3;
    background-color: cadetblue;
}
#div4{
    grid-area: div4;
    background-color: saddlebrown;
}
#div5{
    grid-area: div5;
    background-color: rgb(173, 252, 255);
}
#div6{
    grid-area: div6;
    background-color: seagreen;
}