*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}
#navbar1{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 30px;
}
#navbar2{
    display: flex;
    margin: 30px;
    gap: 10px;
}
#navbar2 button{
    border: none;
    background-color: black;
    color: white;
    padding: 11px 22px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: -5px;
}
#navbar2 h3{
    font-size: 17px;
}
h3{
    /* background-color: aqua; */
    margin: 3px;
    font-size: 15px;
}
#dribtext{
    margin-top: -3px;
    font-size: 21px;
}