*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
html,body{
    height: 100%;
    width: 100%;
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}
#navbar1{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 30px;
    margin-left: 40px;
}
#navbar2{
    display: flex;
    margin: 30px;
    gap: 10px;
}
#navbar2 button{
    border: none;
    background-color: black;
    color: white;
    padding: 11px 22px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: -5px;
}
#navbar2 h3{
    font-size: 17px;
}
h3{
    /* background-color: aqua; */
    margin: 3px;
    font-size: 15px;
}
#left{
    /* display: flex; */
    /* flex-direction: column; */
}
#dribtext{
    margin-top: -3px;
    font-size: 21px;
}
#txt{
    margin-top: 10px;
    margin-left: 65px;
    display: inline-block;
}
#txt h1{
    font-size: 45px;
    line-height: 1;
    font-weight: 700;
}
#txt p{
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
}
#search{
    display: flex;
    display: inline-block;
    margin-left: 35px;
}
.btn{
    display: inline-block;
    /* margin-left: 40px; */
    margin: 30px;
}
#pic{
    background-color: black;
    padding: 8px 20px;
    margin-right: 15px;
    border-radius: 20px;
    color: white;
}
#searchbar{
    height: 50px;
    width: 630px;
    /* background-color: aliceblue; */
    border: 1px solid pink;
    border-radius: 30px;
    margin-left: 60px;
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;
}
#pink{
    height: 20px;
    width: 20px;
    background-color: pink;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    right: 1.3%;
}
#vdo{
    position: absolute;
    display: block;
    object-fit: cover;
    object-position: top;
    right: 5%;
    top: 11%;
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 500px;
    width: 550px;
}
#popular{
    display: flex;
    /* margin: 20px; */
}
#popu{
    margin-left: 60px;
    font-weight: 600;
    border: none;
}
.popaage{
    border: 1px solid rgba(0, 0, 0, 0.375);
    border-radius: 30px;
    display: flex;
    margin-right: 10px;
    /* gap: 10px; */
    margin-top: 10px;
    padding: 6px 13px;
    font-size: 13px;
    font-weight: 400;

    gap: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.285); */
}
#new{
    display: flex;
    background-color: #F8F8FC;
    padding: 16px;
    border-radius: 14px;
    width: 89%;
    position: absolute;
    margin-top: 170px;
    margin-left: 60px;
    position: relative;
}
#newbtn{
    background-color: white;
    padding: 12px 23px;
    font-size: 13px;
    border-radius: 20px;
    border: 2px solid plum;
}
#newtxt{
    margin-top: 10px;
    font-weight: 400;
    margin-left: 20px;
}
#discover{
    position: absolute;
    width: 91%;
    margin: 30px;
    margin-left: 62px;
    display: flex;
    justify-content: space-evenly;
}
#card{
    height: 300px;
    width: 300px;
    margin-left: 60px;
    margin-top: 90px;
    /* margin-bottom: 10px; */
    border-radius: 20px;
    background-color: white;
    /* object-fit: cover; */
    position: absolute;
    position: relative;
    overflow: hidden;
}
#card img{
    height: 300px;
    width: 300px;
    object-fit: contain;
    object-position: top;
}
#box{
    height: 40%;
    width: 100%;
    bottom: -40%;
    position: absolute;
    background: linear-gradient(transparent,black);
    display: flex;
    /* padding-left: 10px; */
    /* padding-right: 20px; */
    /* gap: 0px; */
}
#box h4{
    padding: 10px;
    color: white;
    font-size: 20px;
}
#card:hover #box{
    bottom: -20%;
    transition: all ease 0.3s;
    justify-content: space-between; 
}
#cardbox{
    display: flex;
    margin-left: 90px;
    /* align-content: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
}