*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    anchor-name: --anchorr;
}

.box{
    height: 200px;
    width: 200px;
}
.anchor{
    background-color: rgb(164, 164, 164);
    position-anchor: --anchorr;
    position: absolute;
    top: anchor(top);
    bottom: anchor(bottom);
    left: anchor(left);
    right: anchor(right);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: all 0.3s linear;
}
.box:hover{
    anchor-name: --anchorr ;
}
.red{
    background-color: salmon;
}
.green{
    background-color: green;
}
.blue{
    background-color: darkblue;
}