*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.box{
    height: 200px;
    width: 200px;
}
.anchor{
    height: 100px;
    width: 100px;
    background-color: grey;
    position-anchor: --anchorr;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
}
.red{
    background-color: red;
    anchor-name: --anchorr ;
}
.green{
    background-color: green;
}
.blue{
    background-color: darkblue;
}