@font-face {
    font-family: cursivefont;
    src: url(./FugazOne-Regular.ttf);
}
body{
   background: url(./car.png);
   background-size: cover;
   
}
#btn{
    background-color: transparent;
    border: transparent;
    background-color: rgb(255, 140, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    position: absolute;
    left: 46%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}
h1{
    color: white;
    font-weight: 1000;
    font-size: 50px;
    font-family: cursivefont;
    text-align: center;
}