*{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{ 
    font-size: 5rem;
}
#cursor{
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    mix-blend-mode: difference;
    background-color: white;
    border-radius: 2.5rem;
}