*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#parent{
    display: flex;
}
#box1{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}
#box2{
    background-color: bisque;
    height: 200px;
    width: 200px;
}
#box3{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
}