@font-face {
    font-family: horror;
    src: url(./Ghastly\ Panic.ttf);
}
h1 {
    color: blue;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}
#hero{ /* # is for denoting ID */
    color: aqua;
    font-family: horror;
    font-size: 200;
}
.classeg{
    color: brown;
    text-align: center;
}
* {
    background-color: black;
    margin: 0%;
    padding: 0%;
}