*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
#root{
    display: flex;
    justify-content: center;
}

#cardbox{
  height: 15rem;
  width: 20rem;
  margin: 0.5rem;
  background-color: rebeccapurple;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 2rem;
  color: beige;
  padding: 0.5rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.nav{
    background-color: brown;
    height: 4rem;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 1rem;
    justify-content: space-between;
}

.main{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* gap: 12rem; */
    
}
.input{
    background-color: transparent;
    padding: 1.3rem;
    margin: 1rem;
    width: 46%;
}

button{
    background-color: transparent;
    padding: 1rem;
    width: 90%;
    display: block; 
    margin: 1rem auto;
    border-radius: 1rem;
    color: white;
    border: 1px solid white;
    background-color: seagreen;
}

button:active{
    scale: 0.95;
}