* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #0ca6e8;
    padding: 20px;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

#card {
    height: 300px;
    width: 200px;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.500);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 12px;
    gap: 10px;
    justify-content: space-around;
}

#card h3 {
    padding: 10px;
}

#card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

button {
    background-color: #0ca6e8;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px 17px;
}

button:hover {
    background-color: black;

}