@font-face {
    font-family: chillax;
    src: url(./Chillax-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(21, 21, 21);
    color: white;
    font-family: Chillax;
    font-weight: 300;
    font-size: clamp(14px, 1.5vw, 18px);

}

@mixin flexd($gap : 1rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;

    #view1 {
        @include flexd(1rem);
        width: 100%;
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }

        .bottom {
            border-radius: 1rem;
            padding: 2rem;
            background-color: rgb(35, 35, 35);
            @include flexd(1rem);

            h4 {
                margin-bottom: 30px;
            }

            h1 {
                opacity: 0.9;
                text-transform: uppercase;
            }

            p {
                font-size: 15px;
                font-weight: lighter;
                line-height: 2;
                opacity: 0.7;
            }

            button {
                background-color: whitesmoke;
                width: fit-content;
                outline: none;
                padding: 0.7rem 1rem;
                color: black;
                border: none;
                border-radius: 0.5rem;
            }
        }
    }

    #view2 {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        font-size: 1.2rem;

        #upinfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;

            #text {
                opacity: 0.7;
            }
        }

        #dninfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;

            #text {
                opacity: 0.7;
            }
        }

        .num {
            font-size: 30px;
            justify-items: center;
            align-items: center;
            text-align: center;
            opacity: 1;
            font-weight: 700;
        }
    }

    #view3 {
        width: 100%;
        display: flex;
        padding: 1rem;
        gap: 0.7rem;
        flex-direction: column;

        #main {
            background-color: rgb(32, 32, 32);
            padding: 1.9rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 30px;

            #title {
                font-size: 1.1rem;
            }

            h1 {
                font-size: 35px;
            }

            P {
                line-height: 1.8;
                opacity: 0.7;
            }
        }

        #img3 {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
                opacity: 0.8;
            }
        }
    }
    #view4 {
        width: 100%;
        display: flex;
        padding: 1rem;
        gap: 0.7rem;
        flex-direction: column;

        #main {
            background-color: rgb(32, 32, 32);
            padding: 1.9rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 30px;

            #title {
                font-size: 1.1rem;
            }

            h1 {
                font-size: 35px;
            }

            P {
                line-height: 1.8;
                opacity: 0.7;
            }
        }

        #img4 {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
                opacity: 0.8;
            }
        }
    }
}

@media (min-width:900px) {
    main {
        gap: 25px;

        #view1 {
            flex-direction: row;
            max-width: 2000px;

            .top .bottom {
                width: 50%;
            }

            h1 {
                margin-top: 25%;
                font-size: 4rem;
            }
        }

        #view2 {
            font-size: 1rem;
            flex-direction: row;
            justify-content: space-around;

            #upinfo {
                gap: 18rem;
            }

            #dninfo {
                gap: 18rem;
            }

            .num {
                font-size: 4rem;
            }
        }

        #view3 {
            display: flex;
            flex-direction: row-reverse;

            #title {
                margin-bottom: 6rem;
            }

            #main {
                display: flex;
                flex-direction: column;
                padding: 3.5rem;
                width: 100%;
                ;

                h1 {
                    font-size: 55px;
                }

                #para {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }
        }

        #view4 {
            display: flex;
            flex-direction: row;

            #title {
                margin-bottom: 6rem;
            }

            #main {
                display: flex;
                flex-direction: column;
                padding: 3.5rem;
                width: 85%;
                ;

                h1 {
                    font-size: 55px;
                }

                #para {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }
        }
    }
}