#main {
    height: 100%;
    width: 100%;
}

body {
    background-color: #E2E2E2;
}

h1 {
    
    margin: 0px;
    margin-left: 100px;
    top: 40px;
    left: 100px;
    font-size: 295px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar{
    padding: 12px;
    /* height: 10px; */
    padding-bottom: 0%;
    /* margin: 10px; */
}
.up{
height: fit-content;
width: fit-content;
}
#side{
    position: absolute;
    height: 300px;
    width: 200px;
    left: 3%;
}
#navbar a{
    color: black;
    margin-right: 25px;
    font-size: 25px;
    font-weight: 800;
}
#clo{
    margin-bottom: 8px;
}
h3{
    margin-bottom: 0%;
    padding: 0%;
}
p{
    margin-top: 2%;
}
#newcoll{
    position: absolute;
    bottom: 4%;
    left: 3%;
}
#shoplook{
    position: absolute;
    bottom: 4%;
    right: 3%;
}
#img1{
    position: absolute;
    height: 350px;
    width: 300px;
    left: 500px;
    bottom: 90px;
}
#img2{
    position: absolute;
    height: 350px;
    width: 300px;
    right: 480px;
    /* bottom: 75px; */
}
#img3{
    position: absolute;
    height: 350px;
    width: 300px;
    right: 200px;
    bottom: 130px;
}